body {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #3e5c66;
}

nav {
  background-color: #325561;
}

#logInButton {
  padding-right: 30px;
}

h1 {
  font-size: 3rem;
  color: #636b6e;
}

.panel-title {
  font-size: 2.5rem;
  color: #636b6e;
}

h3 {
  font-size: 3rem;
  color: #42484a;
}

h4 {
  font-size: 2.5rem;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

img {
  padding-top: 50px;
  padding-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.meatballImage {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

p {
  margin-left: 1.66%;
  margin-right: 1.66%;
  padding-bottom: 10px;
}

ul li {
  padding-top: 10px;
  padding-bottom: 10px;
}

ol li {
  font-size: 2rem;
  font-weight: 600;
  padding-top: 20px;
  color: #325561;
}

ol li ul li {
  font-size: 20px;
  font-weight: 400;
  margin-right: 1.66%;
  color: #3e5c66;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.deleteButton {
  color: crimson;
}
